@import url("https://use.typekit.net/jmk3xov.css");
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  color: rgb(241, 3, 3);
  font-style: italic;
}

h1 {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

div {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px black;
  display: inline-block;
  position: relative;
  bottom: -75px;
  left: 75px;
}

header {
  background: var(--transparent-bg);
  grid-column: 2 / span 6;
  font-size: 2.5rem;
  padding: 7rem;
  margin-bottom: var(--spacing);
  color: white;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  color: white;
}

blockquote {
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 2px;
  grid-column: 2 / span 7;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  font-size: 3rem;
  display: inline;
  line-height: 1.5;
}

.left {
  grid-column: 4 / 12;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

header .fast{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-style: oblique;
}

.quote {
  font-size: 1.83rem;
}

strong {
  color: white;
}